/* CSS RESET */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

/* musicPlayerContainer */

.musicPlayerContainer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainContainer {
    border: 3px solid #000;
    width: 30%;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    background: #fff;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
}

.leftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.mainContainer.play .leftContainer {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circularBorder {
    border: 4px solid black;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(247, 43, 43) 23.8%, rgb(105, 211, 224) 92%);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circularDot {
    border: 5px solid black;
    background: #000;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    width: 200px;
}

.upperHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
}

.progressBar {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

.lowerHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.musicName {
    font-size: 20px;
    font-weight: bold;
}

.action-btn {
    border: none;
    outline: none;
    background: #ccc;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 50%;
}

.action-btn:hover {
    background: #333;
    transform: scale(0.80);
    color: #fff;
    transition: all 0.25s ease-in;
}

.progress {
    background: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

/* Making Responsive */

@media (max-width: 1300px) {

    .mainContainer {
        width: 45%;
        height: 300px;
    }

    .circularBorder {
        height: 200px;
        width: 200px;
    }

    .musicPlayerContainer h1 {
        font-size: 50px;
    }

    .action-btn {
        font-size: 23px;
        padding: 5px 10px;
        border: 3px solid #000;
        border-radius: 50%;
    }

    .rightContainer {
        height: 160px;
    }

    .upperHalf {
        height: 100px;
    }

    .musicName {
        font-size: 30px;
    }

}

@media(max-width: 1050px) {
    .mainContainer {
        width: 45%;
    }

    .action-btn {
        font-size: 20px;
        padding: 5px 10px;
        border: 2px solid #000;
        border-radius: 50%;
    }

    .musicName {
        font-size: 22px;
        font-weight: bold;
    }

    .circularBorder {
        height: 175px;
        width: 175px;
    }
}

@media(max-width: 920px) {

    .mainContainer {
        width: 70%;
        justify-content: space-around;
        height: 400px;
    }

    .circularBorder {
        height: 250px;
        width: 250px;
    }

    .musicName {
        font-size: 30px;
    }

    .action-btn {
        font-size: 23px;
        padding: 5px 10px;
        border: 3px solid #000;
        border-radius: 50%;
    }

    .rightContainer {
        height: 160px;
    }

    .upperHalf {
        height: 100px;
    }

    .musicPlayerContainer h1 {
        font-size: 50px;
    }
}

@media(max-width: 550px) {
    .mainContainer {
        width: 80%;
        justify-content: space-between;
        height: 300px;
    }

    .circularBorder {
        height: 200px;
        width: 200px;
    }

    .action-btn {
        font-size: 18px;
    }
}

@media (max-width: 440px) {

    .mainContainer {
        width: 80%;
        justify-content: space-around;
        height: 200px;
    }

    .action-btn {
        font-size: 12px;
        padding: 5px 7px;
        border: 2px solid #000;
        border-radius: 50%;
        font-weight: bold;
    }

    .circularBorder {
        height: 150px;
        width: 150px;
    }

    .progressBar {
        width: 80%;
    }

    .musicName {
        font-size: 22px;
    }

    .musicPlayerContainer h1 {
        font-size: 40px;
    }

    .upperHalf {
        height: 80px;
    }

    .rightContainer {
        height: 110px;
    }
}

@media (max-width:380px) {
    .musicPlayerContainer h1 {
        font-size: 30px;
    }

    .circularBorder {
        height: 125px;
        width: 125px;
    }

    .musicName {
        font-size: 20px;
    }

    .action-btn {
        font-size: 10px;
    }
}